{{ form.non_field_errors }}
{% for field in form.hidden_fields %}{{ field }}{{ field.errors }}{% endfor %}
{% if form.sections %}
  {% for section in form.sections %}
  <fieldset class="form-section"><legend>{{ section.title }}</legend><p>{{ section.description }}</p><div class="fields">
    {% for field in section.fields %}{% include 'wall/field.html' %}{% endfor %}
  </div></fieldset>
  {% endfor %}
{% else %}
<div class="fields">{% for field in form.visible_fields %}{% include 'wall/field.html' %}{% endfor %}</div>
{% endif %}
